$color-primary: #1d61df;
$color-secondary: #1847d2;
$success-color: #2fc193;
$base-white: #f5f5f5;
$base-black: #191e27;
$base-gray: #717171;
$error: #c03744;

$extra-small-radius: 6px;
$small-radius: 8px;
$medium-radius: 10px;
$medium-large-radius: 12px;

$extra-small-spacing: 6px;
$small-spacing: 8px;
$medium-small-spacing: 12px;
$medium-spacing: 16px;
$medium-large-spacing: 24px;
$large-spacing: 32px;
$extra-large-spacing: 48px;
$extra-extra-large-spacing: 96px;

$mobile-breakpoint: 768px;
$tablet-breakpoint: 990px;

$neutral-100: #dddcdc;
$neutral-200: #c6c2c2;
$neutral-300: #b0a6a7;
$neutral-400: #9c8a8b;
$neutral-700: #554043;
$neutral-800: #3b2b2f;
$neutral-1000: #120f16;
