@import '@/styles/variables';

.button-component {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
  border-radius: 8px;
  justify-content: center;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  user-select: none;

  height: 45px;
  font-weight: 300;
  font-size: 14px;
  transition: all 0.3s ease-in-out;

  &--full-width {
    width: 100%;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--contained {
    background-color: $color-primary;
    color: $base-white;
  }

  &--text {
    color: $color-primary;
    background-color: #ffffff;

    // &:hover {
    //   color: $base-white;
    //   background-color: $color-primary;
    // }
  }

  &--underline {
    background-color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: $color-primary;
  }

  &--error {
    color: #f95349;
    background-color: #ffffff;

    &:hover {
      background-color: #f95349;
      color: #ffffff;
    }
  }

  // &--plain {
  // }
}
