@import '@/styles/variables.scss';

.delete-card-modal {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 18px;
  min-height: 80vh;

  @media screen and (max-width: $mobile-breakpoint) {
    min-height: 60vh;
  }

  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      border-radius: $medium-large-radius;
      border: 0.1px solid #f2f2f2;
      box-shadow: 5px 5px 30px -5px #0000000d;

      img {
        height: 36px;
        width: auto;
      }
    }

    &-text {
      font-size: 32px;
      font-weight: 700;
      line-height: 38.4px;
      text-align: center;
      color: $base-black;
    }
  }

  &-actions {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    &-confirm {
      border: 1px solid $color-primary;

      &:hover {
        color: $color-primary;
        background-color: initial;
      }
    }
  }
}
