@import '@/styles/variables.scss';

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 19px 0 19px;
  gap: 16px;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 0 0 20px 0;

    &-logo {
      width: 60px;
      height: 60px;
      background-color: #ffffff;
      border: 1px solid #f2f2f2;
      box-shadow: 5px 5px 30px -5px #0000000d;
      border-radius: $medium-large-radius;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-title {
      font-size: 40px;
      font-weight: 700;
      color: $base-black;
      text-align: center;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $medium-spacing;
    width: 100%;

    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &-actions {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    margin-bottom: 20px;

    &-create {
      color: $color-primary;
      height: 26px;
    }

    &-logout {
      color: $error;
      height: 26px;
      width: 100%;
    }
  }
}
