@import '@/styles/variables.scss';

.share-card-modal {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: $medium-radius;
    border: 1px solid #ffffff;
    padding: $medium-spacing $medium-large-spacing $extra-large-spacing $medium-large-spacing;
    gap: 20px;
    width: 100%;
  }

  &-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $medium-spacing;

    &-text {
      display: flex;
      flex-direction: column;
      gap: 6px;
      align-items: center;

      &-upper {
        font-size: 40px;
        font-weight: 700;
      }

      &-lower {
        font-size: 14px;
        font-weight: 400;
        color: $neutral-700;
      }
    }

    &-switch {
      display: flex;
      align-items: center;
      gap: 6px;

      p {
        width: 80px;
      }
    }
  }

  &-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: $small-spacing;
    padding: $medium-spacing 19px $medium-spacing 19px;
    border: 1px solid $base-white;
    border-radius: $extra-small-radius;
    justify-content: space-between;
    text-align: center;

    @media screen and (max-width: $mobile-breakpoint) {
      gap: 6px;
      padding: $small-spacing $medium-small-spacing;
    }

    &-buttons {
      cursor: pointer;
      width: 90px;
      height: 90px;
      border: 1px solid $neutral-100;
      border-radius: $extra-small-spacing;
      background-color: white;
      color: $color-primary;
    }

    &-saveqr {
      padding: $medium-small-spacing;
      width: 128px;
      height: 90px;
      border: 1px solid $neutral-100;
      border-radius: $extra-small-spacing;
      background-color: white;
      color: $color-primary;
    }

    &-buttons:hover {
      color: white;
      background-color: $color-primary;

      img {
        filter: brightness(0) invert(1);
      }
    }

    &-text {
      font-weight: 400;
      font-size: 10px;
      color: #9c9c9c;
    }
  }
  
  &-actionbtn {
    cursor: pointer;
    border: none;
    border-radius: $extra-small-radius;

    margin-right: -4px;
    padding: 4px;
    display: flex;
    justify-items: center;
    align-items: center;
    color: $color-primary;
    background-color: white;
  }
  
  &-actionbtn:hover {
    color: white;
    background-color: $color-primary;
  
    img {
      filter: brightness(0) invert(1);
    }
  }
}